<div class="dimmed light small">
  <div class="jast-stock">To: {{ drivingTime.destination }} ( {{ drivingTime.distance.description }} )</div>
  <div class="jast-stock">Duration: {{ drivingTime.durationDiff.description }}</div>
  <div class="jast-stock">{{ "lastUpdate" | translate | safe }} {{ lastUpdate }}</div>
</div>
